<template name="resume">
	<div id="resume_wrap">
		<div id="resume_container">
			<div class="section_wrap">
				<div class="section">
					<div class="image">
						<img src="../../images/doc_pocket2.png" width="236" height="242" alt="Pocket">
						<h2>Primary Specialties</h2>
						<p class="specialty"><a href="#"><b>Knee and Shoulder</b></a></p>
						<p class="specialty"><a href="#"><b>Spine Surgery</b></a></p>
					</div>
					<div class="bio">
						<h1>About Charles B. Goodwin, M.D.</h1>
						<p><b>The Best Doctors in New York</b></p>
						<p>- New York Magazine</p>
						<p><b>Hospital for Special Surgery-Ranked #1 for Orthopedics</b></p>
						<p>- US News and World Report</p>
						<p><b>New York State Medical Society</b></p>
						<p>- Chairman of the Professional Liability & Defense Board (former)</p>
						
						<div class="line_groove"></div>
						
						<p><b>Primary Speciality:</b></p>
						<p>Orthopedic Surgery</p>
						<p><b>Areas of Clinical Interest:</b></p>
						<p><a href="">Spine Surgery</a>, &nbsp;<a href=""> Knee and Shoulder</a>, &nbsp;and Sports Medicine.</p>
					</div>
					<div style="clear:both"></div>
					<div class="education_wrapper">
						
						<div class="low_groove"></div>
						
						<div class="education">
							<h2>Education & Training</h2>
							<p><b>University:</b></p>
							<p>Harvard University, 1972, BA, Cum Laude</p>
							<p><b>Medical school</b></p>
							<p>University of Cincinnati, 1976, MD</p>
							<p><b>Internship/Residency:</b></p>
							<p>St. Luke's-Roosevelt Hospital Center: 
							<p>General Surgery</p>
							<p><b>Fellowship:</b></p>
							<p>University of Toronto (1983): Spine </p>
						</div>
						
						<div class="appointments">
							<h2>Appointments</h2>
							<p><b>Primary Hospital:</b></p>
							<p>Hospital for Special Surgery </p>
							<p><b>Academic Appointment</b></p>
							<p>Assistant Professor of Orthopedic Surgery</p>
							<p><b>Secondary Hospital:</b></p>
							<p>North Shore Hospital, Glen Cove</p>
						</div>
					
						<div class="expertise">
							<h2>Special expertise</h2>
							<p><a>Microsurgery Cervical and Lumbar Spine</a></p>
							<p><a>Arthroscopic Surgery of the Knee and Shoulder</a></p>
							<p><a>Spinal Reconstruction</a></p>
							<p><a>Knee Reconstruction</a></p>
						</div>
						
					</div>	
				</div>
			</div>
			
	</div>
</template>